body {
    font-family: 'Roboto-Regular';
    background-color: $bg-color;
    text-align: center;
}

.inputs-panel {
    display: inline-block;
    border: 1px dashed #9E9E9E;
    width: 300px;
}

.input-item {
    text-align: right;
}

.input-item span {
    font-family: 'Roboto-Italic';
    text-align: right;
}

.input-item div {
    display: inline-block;
    width: 50%;
    text-align: left;
}

.input-item div input {
    width: 70px;
}

.input-item div span {
    font-family: 'Roboto-Bold';
}